.num-results {
    justify-self: center;
    font-size: 1.8rem;
  }
  
  @media screen and (min-width: 898px) {
    .num-results {
      justify-self: end;
      font-size: 1.8rem;
    }
  }
  